ADMIN_JWT_SECRET=
ADMIN_PASSCODE=
BACKEND_PORT=
CORS_ORIGINS=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
GEMINI_API_KEY=